# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
.env
venv/

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
!.env.local
!.env.development.local
!.env.test.local
!.env.production.local
build/
coverage/

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# Project specific
backend/data/*.json
!backend/data/common_phrases.json
!backend/data/word_of_day.json
!backend/data/user_progress.json

# Google Cloud credentials
backend/credentials/

# Environment variables
!.env
!.env.local
!.env.development.local
!.env.test.local
!.env.production.local

# Google Cloud credentials
backend/credentials/ran 
# Local Netlify folder
.netlify
