# Exclude everything by default
*

# Explicitly include necessary files
!Dockerfile
!cloudbuild.yaml
!requirements.txt
!app.py
!config.py
!models.py
!db_service.py
!migrate_to_sqlite.py
!credentials/**
!.dockerignore
!data/** 